<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <title><insert-title-text/></title>

        <!-- Javascripts -->
        <script type="text/javascript" src="./js/jquery-3.2.1.slim.min.js"></script>
        <script type="text/javascript" src="./js/popper.min.js"></script>
        <script type="text/javascript" src="./js/bootstrap.min.js"></script>
        <script type="text/javascript" src="./js/jenius.js"></script>
        <script type="text/javascript" src="./js/prettify.js"></script>
        <script type="text/javascript" src="./js/hack.js"></script>

        <!-- CSS -->
        <css-link href="./css/bootstrap.css" type="text/css" rel="stylesheet" />
        <css-link href="./css/prettify.css" type="text/css" rel="stylesheet" />
        <css-link href="./css/fontawesome-all.min.css"  rel="stylesheet" />
        <css-link href="./css/jenius.css"  rel="stylesheet" />

        <style>

        </style>
    </head>

    <body onload="prettyPrint()">
        <h1>
            <insert-title-text/>
            <a href="index.html" style="float:right"><span class="fa fa-home"></span></a>
        </h1>

        <ul class="nav nav-tabs"></ul>

        <div id="myTabContent" class="tab-content">
            <insert-content/>
        </div>
    </body>
</html>
